API_PORT=8080
INTER_PFX_PATH=./secrets/Inter_API.pfx
Inter__BaseUrl=https://cdpj.partners.bancointer.com.br
Inter__ClientId=
Inter__ClientSecret=
Inter__CertificatePassword=
Inter__Scope=extrato.read
Inter__ContaCorrente=
Jwt__SigningKey=
Jwt__Issuer=valinor-interapi-proxy
Jwt__Audience=valinor-interapi-proxy-consumers
Jwt__Consumers__0__ClientId=
Jwt__Consumers__0__ClientSecret=
Jwt__Consumers__0__AllowedScopes__0=token-issue
Jwt__Consumers__0__AllowedScopes__1=extrato-read